# DB STACK
#services:
#  database:
#    image: postgis/postgis:13-master
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    environment:
#      POSTGRES_USER: "directus"
#      POSTGRES_PASSWORD: "directus"
#      POSTGRES_DB: "directus"
#    networks:
#      - apps
#    deploy:
#      restart_policy:
#        condition: on-failure
#
#  cache:
#    image: redis:6
#    networks:
#      - apps
#    deploy:
#      restart_policy:
#        condition: on-failure
#
#volumes:
#  postgres_data:
#    external: true
#
#networks:
#  apps:
#    external: true

# DIRECTUS STACK
#services:
#  directus:
#    image: directus/directus:latest
#    volumes:
#      - directus_data:/directus/uploads
#      - directus_data:/directus/extensions
#    environment:
#      SECRET: ${SECRET}
#      DB_CLIENT: "pg"
#      DB_HOST: "database"
#      DB_PORT: "5432"
#      DB_DATABASE: "directus"
#      DB_USER: "directus"
#      DB_PASSWORD: "directus"
#      CACHE_ENABLED: "true"
#      CACHE_AUTO_PURGE: "true"
#      CACHE_STORE: "redis"
#      REDIS: "redis://cache:6379"
#      ADMIN_EMAIL: ${ADMIN_EMAIL}
#      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
#      PUBLIC_URL: "https://cms.sibbalance.ru"
#    networks:
#      - apps
#    deploy:
#      restart_policy:
#        condition: on-failure
#
#volumes:
#  directus_data:
#    external: true
#
#networks:
#  apps:
#    external: true

# CADDY STACK
#services:
#  caddy:
#    image: caddy:2.10.2-alpine
#    ports:
#      - target: 80
#        published: 80
#        protocol: tcp
#      - target: 443
#        published: 443
#        protocol: tcp
#      - target: 443
#        published: 443
#        protocol: udp
#    volumes:
#      - caddy_data:/data
#    configs:
#      - source: caddyfile
#        target: /etc/caddy/Caddyfile
#    networks:
#      - apps
#    deploy:
#      restart_policy:
#        condition: on-failure
#
#volumes:
#  caddy_data:
#    external: true
#
#networks:
#  apps:
#    external: true
#
#configs:
#  caddyfile:
#    name: Caddyfile_v1
#    external: true

# SIB BALANCE STACK
services:
  sibbalance:
    image: ghcr.io/ngannochka/sib-balance-nuxt:latest
    environment:
      NUXT_PUBLIC_DIRECTUS_URL: ${NUXT_PUBLIC_DIRECTUS_URL}
      NUXT_PUBLIC_CAPTCHA_CLIENT_KEY: ${NUXT_PUBLIC_CAPTCHA_CLIENT_KEY}
      CAPTCHA_SERVER_KEY: ${CAPTCHA_SERVER_KEY}
      BITRIX_LEAD_ADD_URL: ${BITRIX_LEAD_ADD_URL}
    networks:
      - apps

networks:
  apps:
    external: true
